[Unit]
Description=IMAP IDLE agent

[Service]
ExecStart=maildir_idle_sync -c /path/to/config.toml
KillSignal=SIGINT

[Install]
WantedBy=default.target
